# Production API URL for Vercel / Cloud Frontend Deployments
# Value format can be: https://smart-campus-backend-8v6m.onrender.com or https://smart-campus-backend-8v6m.onrender.com/api
VITE_API_URL=https://smart-campus-backend-8v6m.onrender.com
