# Production API URL for Vercel / Cloud Frontend Deployments
# Value format can be: https://smart-campus-360-mmnl.onrender.com or https://smart-campus-360-mmnl.onrender.com/api
VITE_API_URL=https://smart-campus-360-mmnl.onrender.com
