# MySQL Configurations
MYSQL_ROOT_PASSWORD=placeholder_root_pwd
MYSQL_DATABASE=smart_campus_360
MYSQL_USER=smart_user
MYSQL_PASSWORD=placeholder_user_pwd

# Backend Configurations
JWT_SECRET=placeholder_jwt_secret_hex_at_least_256_bit
